@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  margin: 60px auto;
}

h1 {
  color: rgb(var(--foreground-rgb));
  font-size: 2rem;
}

h2 {
  color: rgb(var(--foreground-rgb));
  font-size: 1.5rem;
}

table {
  border-collapse: collapse;
  border: 1px solid rgb(var(--foreground-rgb));
  width: 100%;
}

table td {
  border: 1px solid rgb(var(--foreground-rgb));
  padding: 0.5rem;
}

a {
  color: blue;
  text-decoration: none;
}

body {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}